.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: center;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  /* background: tomato; */
  /* padding: 15px; */
  width: 23%;
  height: 270px;
  /* margin: 0px 10px 20px 0px; */
  /* line-height: 150px; */
  color: white;

  /* font-size: 1.2em;
  text-align: center; */
  /* border-radius: 10px; */
  border: 1px solid #fff
}



.flex-item-large {
  /* background: tomato; */
  /* padding: 15px; */
  width: 51%;
  height: 270px;
  /* margin: 0px 10px 0px 0px; */
  /* line-height: 150px; */
  color: white;

  /* font-size: 1.2em; */
  text-align: left;
  /* border-radius: 10px; */
  border: 1px solid #fff
}

.flex-item-xlarge {
  /* background: tomato; */
  /* padding: 15px; */
  width: 75%;
  height: 800px;
  /* margin: 0px 10px 0px 0px; */
  /* line-height: 150px; */
  color: white;

  /* font-size: 1.2em; */
  text-align: left;
  /* border-radius: 10px; */
  border: 1px solid #fff
}

.flex-item-chart {
  /* background: tomato; */
  /* padding: 15px; */
  width: 67%;
  border: 1px solid #fff;
  /* height: 280px; */
  /* margin: 20px 10px 20px 0px;
  line-height: 150px;
  color: white;

  font-size: 1.5em;
  text-align: center; */
  /* border-radius: 10px;
  border: 1px solid #fff */
}

.flex-item-small {
  /* background: tomato; */
  padding: 15px;
  width: 15%;
  height: 200px;
  margin: 20px 10px 20px 0px;
  line-height: 150px;
  color: white;

  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff
}

.flex-item-borderless {
  /* background: tomato; */
  padding: 15px;
  width: 15%;
  height: 280px;
  margin: 20px 10px 20px 0px;
  line-height: 150px;
  color: white;

  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  /* border: 1px solid #fff */
}

h3 {
  margin-left: 20px;
}

h2 {
  text-align: center;
}