.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}



.flex-item-large {
  width: 100%;
  height: 200px;
  text-align: left;
  /* border: 1px solid grey; */
}

.flex-item-chart {
  width: 100%;
  height: 440px;
}

.flex-item-small {
  width: 100%;
  height: 400px;
  color: white;
  /* border: 1px solid grey; */
}


.flex-item {


  height: 440px;
  color: white;


 
 
  
}

.flex-tiny {

 
  width: 90px;
  color: white;
  border: 3px solid white;
  border-radius: 5px ;
  text-align: center;
  font-size: 1.1em;

  margin-top: 50px;

  
}

.icons {
  display: flex;

  width: 100px;
  /* border: 1px solid grey; */
}

.icon {
 justify-content: space-around;
   padding: 20;
  margin: 20;
}

.selected {
  color: red;
}


@media only screen and (min-width: 1800px) {
  .flex-container {
     justify-content: center;
  }
  .flex-item-chart {
    border-top: 1px  solid grey;
    border-left: 1px  solid grey;
    border-right: 1px  solid grey;
    width: 66.1%;
 
  }
  .flex-item {
    width: 33%;
         border-top: 1px  solid grey;
    border-right: 1px  solid grey;
     border-left: 1px  solid grey;
 
  }
  .flex-item-large {
    width: 33%;
 
      
    
  
  }
  .flex-item-small {
    width: 33%;
      border: 1px solid grey;

  }
}
