.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  width: 99%;
  height: 270px;
  color: white;
  border: 1px solid #fff
}

.flex-item-large {
  width: 99%;
  height: 270px;
  text-align: left;
  border: 1px solid #fff
}

.flex-item-chart {
  width: 99%;
  height: 600px;
}

.flex-item-small {
  padding: 15px;
  width: 15%;
  height: 200px;
  margin: 20px 10px 20px 0px;
  line-height: 150px;
  color: white;

  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff
}


@media only screen and (min-width: 1800px) {
  .flex-container {
     justify-content: center;
  }
  .flex-item-chart {
    border: 1px solid #fff;
    width: 67%;
 
  }
  .flex-item {
    width: 32%;
  }
  .flex-item-large {
    width: 33%;
  }
}