.svg {
  display: block;
  width: 100%;
  height: 250px;
  background: transparent;
  overflow: visible;
}

.svg-small {
  display: block;
  width: 100%;
  height: 220px;
  background: transparent;
  overflow: visible;
}

svg {
  display: block;
}

svg rect.selection {
  stroke: none;
}

#root {
  /* max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  justify-content: center; 
  height: 100vh;
  padding: 0 50px 150px; 
  text-align: center; 
  box-sizing: border-box; */
}

/* button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
} */

h3 {
  margin-left: 20px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
}

h6 {
  margin-top: 0px;
}

.fields {
  /* border: 1px solid #fff;
  border-radius: 10px;
  width:fit-content;
  padding: 5px;
  background-color: rgb(173, 126, 39); */
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}

.title {
  width: 100%;
  text-align: left;
  padding-bottom: 35px;
  /* font-size: .9em; */
}

.total {
  float: right;
  padding-right: 30px;
}

.mainview {
  margin-top: 5%;
}

a {
  cursor: pointer;
  color: #fff;
}

a:hover {
  color: grey;
}

.active {
  color: orange;
}

.disabled {
  color: grey;
}

.number {
  font-size: 3em;
  margin-top: 0.9em;
  margin-bottom: -0.9em;
}

.box {
  /* border: 1px solid #fff; */
  /* padding: 0px 0px; */
  /* border-radius: 10px; */
  /* width: auto;*/
  /* height: auto; */
}

@media only screen and (min-width: 600px) {
  .box {
    /* width: 75%; */
    margin: auto;
    padding: 48px 45px;
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 600px) {
  h3 {
    height: 50px;
    margin: 20px 0px;
  }
  .total {
    margin: 20px 0px;
  }
  .fields {
    margin: 0;
  }
  .flex-item-small {
    border: 1px solid grey;
    /* margin-left: 30px; */
  }
  .flex-item {
    border: 1px solid grey;
  }
  .svg-small {
    height: 200px;
    margin-bottom: 50px;
  }
}
