svg {
  display: block;
  width: 100%;
  height: 270px;
  background: transparent;
  overflow: visible;
}

svg rect.selection {
  stroke: none;
}

#root {
  /* max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  justify-content: center; 
  height: 100vh;
  padding: 0 50px 150px; 
  text-align: center; 
  box-sizing: border-box; */
  
  
} 

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}

.box {
  border: 1px solid #fff;
  padding: 25px 45px;
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: left;
  padding-bottom: 25px;
  font-size: 1.2em;
  
}

.total {
  float: right;
}

.mainview {
  margin-top: 15%;
}

a {
  cursor: pointer;
}

a:hover{
   color:grey; 
}

.active {
  color: grey;
}

#chartArea {
 
}

.number {
  font-size: 3em;
  margin-top: .9em;
  margin-bottom: -.9em;
}